<!-- header.html -->
<header>
    <button class="menu-btn" onclick="toggleMenu()">☰</button>
    <div class="logo">
        <img src="../../assets/my_brand_icon.png" alt="RDroid" />
        <div>RDroid <span>Apps</span></div>
    </div>
    <section class="nav-links">
        <div class="tools-scroll">
            <a href="/windows-tools.html" class="btn btn-ghost">Windows Tools</a>
            <a href="/apps.html" class="btn btn-ghost">Apps</a>
            <a href="/about.html" class="btn btn-ghost">About</a>
            <a href="/contact.html" class="btn btn-ghost">Contact</a>
            <a href="/index.html" class="btn btn-ghost">Home</a>
        </div>
    </section>
    <a href="/auth/login.html" class="login-btn">🔑 Login</a>
</header>

<style>
    .btn-ghost {
        background: rgba(255, 123, 0, 0.336);
    }
</style>
