<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Header Component</title>
</head>

<body>
    <!-- header.html -->
    <header>
        <button class="menu-btn" onclick="toggleMenu()">☰</button>
        <a href="/index.html" class="tab-btn">🏠 Home</a>
        <div class="logo">
            <img src="/assets/my_brand_icon.png" alt="RDroid" />
            <div>RDroid <span>Apps</span></div>
        </div>
        <section class="nav-links">
            <div class="tools-scroll">
                <a href="/windows-tools.html" class="btn btn-ghost">Windows Tools</a>
                <a href="/apps.html" class="btn btn-ghost">Apps</a>
                <a href="/blog/index.html" class="btn tools">Blog section</a>
            </div>
        </section>
        <a href="/auth/login.html" class="login-btn">🔑 Login</a>
    </header>
</body>

</html>
